blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-CKEditor==0.5.1
Flask-WTF==1.2.1
greenlet==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pygame==2.5.2
pyglet==2.0.15
PySide6==6.7.1
PySide6_Addons==6.7.1
PySide6_Essentials==6.7.1
shiboken6==6.7.1
SQLAlchemy==2.0.31
typing_extensions==4.12.2
Werkzeug==3.0.3
WTForms==3.1.2
